<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://az204durablefunctionsshu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e72732c0-ed3a-43dd-990b-ddfeca46de37/resourceGroups/AZ204/providers/Microsoft.Web/sites/az204DurableFunctionsShu</ResourceId>
    <UserName>$az204DurableFunctionsShu</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://az204durablefunctionsshu.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>